#section4{
    background-color: aliceblue;
    display: flex;


    height: fit-content;
    margin-bottom: 200px;

    font-size: 30px;

    padding-left: 100px;

}

.contact-information{
    flex:1;


}

.contact-form{
    flex: 1;
    background-color: aquamarine;
    margin: 40px;

}


#section5{
    height: fit-content;
}