#section4{
    background-color: aliceblue;
    display: flex;


    height: 61vh;

    padding-bottom: 100px;
    margin-bottom: 0px;

    font-size: 30px;

    padding-left: 100px;

}

.contact-information{
    flex:1;


}

.contact-form{
    flex: 1;
    background-color: aquamarine;
    margin: 40px;

}





/*Topic   */


#section4-topic{
    background-color: black;
   

    margin-top: 50px;
    margin-bottom: 0;
}

.topic-contact{
    font-size: 40px;
    color: azure;
    margin: 0;

    padding: 50px;

}