body{
    background-image: url(images/wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    margin: 0;

   
    
}

.logo{
    border-radius: 150px;
    display:  inline-block;

    vertical-align: middle;
    margin-right: 40%;

    padding: 50px;
}

.header{
     
    flex-wrap: wrap;
    display: inline-flex;
     
    width: 40%;
    height: 60px;
    

     

    

    vertical-align: middle;

}



.header-button{
    flex: 1;
    display: inline-block;
}

#section1{
     height: fit-content;
      
     border-bottom: solid rgb(23, 22, 22) ; 
     
     border-width: 3px;

     padding-bottom: 15px;

}